@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.text-shadow {
		text-shadow: 2px 2px 4px white;
	}
	.text-shadow-md {
		text-shadow: 4px 4px 8px white;
	}
	.text-shadow-lg {
		text-shadow: 15px 15px 30px white;
	}
	.text-shadow-none {
		text-shadow: none;
	}
}
.crt {
	background: #05321e;
	background-image: radial-gradient(ellipse, #05321e 0%, #050505 90%);
	animation: txt-shadow 1.6s infinite;
	height: 100vh;
}

.crt::before {
	content: ' ';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%),
		linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
	z-index: 2;
	background-size: 100% 2px, 3px 100%;
	pointer-events: none;
}

.crt::after {
	content: ' ';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: rgba(18, 16, 16, 0.1);
	opacity: 0;
	z-index: 2;
	pointer-events: none;
	animation: flicker 0.15s infinite;
}
