html {
	height: 100%;
}
body {
	background-color: #2e3440;
	color: #eceff4;
	height: 100%;
	margin: 0;
}
p {
	font-size: 20px;
}
a {
	color: #88c0d0;
}
a:active {
	color: #b48ead;
}
h1 {
	color: #88c0d0;
}
h2 {
	color: #8fbcbb;
}
